
.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    text-decoration: none;
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav ul{
    width: 365px;
}
nav{
    padding: 16px 120px;
}
.logo{
    width: 139px;
    height: 60px;
}
.btn{
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
#banner{
    height: 100vh;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 155px; */
}
.early-access {
    display: flex;
    width: fit-content;
    gap: 6px;
    background: #ffffff;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #3fae6b;
    margin: 155px auto 0;
    /* align-items: center; */
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}
/* not working .green-dot/helped from google chatgpt but cant */
.green-dot {      
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: var(--#30B868, rgba(70, 145, 101, 1));
    position: relative;
}
.color-green{
    color: #3fae6b;
}
.banner-text{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 51px 295px 71px;
}
.banner-text h1{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-style: Bold;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto;
}
.banner-text p{
    margin: 0 auto;
    padding-top: 15px;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}
.hero-btn{
    margin: 0 auto;
    padding-top: 30px;
}
#notes h2{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-style: Bold;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    padding-top: 30px;
}
#notes p{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}
.notes-card .notes-card-info img{
    background-color: rgb(244, 67, 67);
    border-radius: 50%;
    padding: 5px;
}
.notes-card .notes-card-info h4{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    padding-top: 15px;
}
.notes-card .notes-card-info p{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 20px;
}
#notes{
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
}
.notes-card{
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    display: flex;
    gap: 20px;
}
.notes-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    padding: 20px;
    box-shadow: 0 6px 50px 0 #00000017;
}
#herobrain{
    margin: 0 auto;
    border: 1px solid red;
    width: 1140px;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#herobrain img .brainimg{
    max-width: 100%;
    height: auto;
}
#readytothink .readytothink-content h2{
    color: rgba(0, 25, 49, 1);
    font-style: Bold;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-top: 40px;
}
#readytothink .readytothink-content p{
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
}
.btn2{
    display: block;
    width: fit-content;
    margin: 30px auto;
}
#readytothink .readytothink-content .after-btn{
    color: rgba(98, 115, 130, 1);
    font-size: 9px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
}
.readytothink-content{
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    margin: 120px;
    padding: 70px 30px 70px 30px;
}
#ft{
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    margin: 120px;
    padding-top: 100px;
    background-color: var(--Style, rgba(0, 25, 49, 1));
    /* padding: 120px 120px 30px 120px; */
}
.ftsocial{
    color: aliceblue;
}
.fticons a:hover{
    color: #4CAF50;
}
.fticons{
    color: #ffffff;
    font-size: 25px;
    /* margin: 15px 15px 15px 0; */
    text-decoration: none;
    transition: 0.3s;
}
footer{
    background-color: var(--Style, rgba(0, 25, 49, 1));
}
.footer-copyright {
    color: rgba(250, 250, 250, 1);
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 30px;
}