
.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    text-decoration: none;
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav ul{
    width: 365px;
}
nav{
    padding: 16px 120px;
}
.logo{
    width: 139px;
    height: 60px;
}
.btn{
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
#banner{
    height: 100vh;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 155px; */
}
.early-access {
    display: flex;
    width: fit-content;
    gap: 6px;
    background: #ffffff;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #3fae6b;
    margin: 155px auto 0;
    /* align-items: center; */
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}
/* not working .green-dot/helped from google chatgpt but cant */
.green-dot {      
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: var(--#30B868, rgba(70, 145, 101, 1));
    position: relative;
}
.color-green{
    color: #3fae6b;
}
.banner-text{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 51px 295px 71px;
}
.banner-text h1{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-style: Bold;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto;
}
.banner-text p{
    margin: 0 auto;
    padding-top: 15px;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}
.hero-btn{
    margin: 0 auto;
    padding-top: 30px;
}
#notes h2{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-style: Bold;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    padding-top: 30px;
}